

<div id="main" class="m-scene">
      <div class="header">
        <section class="nav">
          <a href="#cd-nav" class="cd-nav-trigger">Menu
            <span class="cd-nav-icon"></span>

            <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
              <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
            </svg>
          </a>

          <div id="cd-nav" class="cd-nav">
            <div class="cd-navigation-wrapper">
              <div class="cd-half-block">

                <nav class="cl-effect-13">
                  <ul class="cd-primary-nav">
                    <li><img src="<%= asset_path 'logo_only_bk.svg' %>"></li>
                    <li><%= link_to "WORKS",   projects_path %></li>
                    <li><%= link_to "ABOUT",   about_path %></li>
                    <li><%= link_to "SERVICES",   services_path %></li>
                    <li><%= link_to "CONTACT",   contact_path %></li>
                  </ul>
                </nav>
              </div><!-- .cd-half-block -->
              
            </div> <!-- .cd-navigation-wrapper -->
          </div>
        </section>
      </div>

    <div id="fullpage-contact">
      <div class="section" id="section1">
        <section id="contact" class="cover">
          <div class="desc">
            <!-- <img src="img/logo_only_bk.svg"> -->
            <h1 class="gotham cl-effect-2">
                  <%= link_to(root_path) do%>
                    <span data-hover="Back">Contact Us</span>
                  <% end %>
            </h1>
              <div class="strip">
              -
              </div>
            <p>Curiosity and knowledge gives us the opportunities to answer every problems we are facing, so why not do it for cause then. 
            We are ready to give our best efforts to you, feel free to collaborate with us.</p>
            <a href="#secondPage"><img src="<%= asset_path 'cd-icon-arrow-desktop.svg' %>" style="display:block; margin:0 auto"></a>
          </div>
        </section>
      </div>

      <div class="section" id="section2">
        <section id="cont">
          <div id="map" style='height: 50vh; margin-top: -65px'>
            <script type="text/javascript">
              $( document ).ready(function(){
                handler = Gmaps.build('Google');
                handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            
                markers = handler.addMarkers([
                  {
                    "lat": -6.86784,
                    "lng": 107.62795,

                    "infowindow": "Jl. Rancakendal Luhur 11, Dago Pakar, Bandung , Jawa Barat 40191"
                  }
                ]);
              
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                handler.getMap().setZoom(16);
              
              
               
             

              
                });
              });
            </script>
          </div>

          <div id="kontak" class="row">
            <div class="medium-4 large-4 column">
              <h1>Contact</h1>
              -
                <ul>
                  <li>E. hello@rakarsa.com</li>
                  <li>P. +62 856 2424 3612</li>
                </ul>

                <p>Jl. Rancakendal Luhur 11</br>
                Dago Pakar, Bandung 40198</p>
            </div>

            <div class="medium-4 large-4 column">
              <h1>Social</h1>
              -
                <ul>
                  <li>Facebook</li>
                  <li>Twitter</li>
                  <li>Instagram</li>
                  <li>Pinterest</li>
                </ul>
            </div>

            <div class="medium-4 large-4 column">
              <img src="<%= asset_path 'logo_only_bk.svg' %>">
            </div>
          </div>

        </section>
      </div>
    </div>
    
  
 <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
 <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>   
