<div id="main" class="m-scene">
      <div class="header">
        <section class="nav">
          <a href="#cd-nav" class="cd-nav-trigger">Menu
            <span class="cd-nav-icon"></span>

            <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
              <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
            </svg>
          </a>

          <div id="cd-nav" class="cd-nav">
            <div class="cd-navigation-wrapper">
              <div class="cd-half-block">
                <nav class="cl-effect-13" id="offmenu">
                  <ul class="cd-primary-nav">
                    <li><img src="<%= asset_path 'logo_only_bk.svg' %>"></li>
                    <li><%= link_to "WORKS",   projects_path %></li>
                    <li><%= link_to "ABOUT",   about_path %></li>
                    <li><%= link_to "SERVICES",   services_path %></li>
                    <li><%= link_to "CONTACT",   contact_path %></li>
                  </ul>
                </nav>
              </div><!-- .cd-half-block -->
            </div> <!-- .cd-navigation-wrapper -->
          </div>
        </section>
      </div>
      <div id="fullpage-home">
        <div class="section" id="section1">
          <section id="home" class="hero">
            <div class="inner">
              <img src="<%= asset_path 'logo_only_bk.svg' %>">
              <h1 class="slim">WE ARE</h1>
              <h1 class="bold">RAKARSA</h1>
              <p>"User Experience is our concern"</p>
            </div>
            <a href="#navigation"><img src="<%= asset_path 'cd-icon-arrow-desktop.svg' %>" style="display:block; margin:0 auto"></a>
          </section>
        </div>
        <div class="section" id="section2">
          <section id="menu">
            <ul class="large-block-grid-4 medium-block-grid-1 small-block-grid-1">
              <li>
                <%= link_to(projects_path) do %>
                <div id="mnu" class="link link--takiri1">
                  <div class="mnu-title">
                    <h2>WORKS</h2>  
                  </div>
                </div>
                <% end %>
              </li>
              <li>
                <%= link_to(about_path) do %>
                <div id="mnu1" class="link link--takiri2">
                  <div class="mnu-title">
                    <h2>ABOUT</h2>
                  </div>
                </div>
                <% end %>
              </li>
              <li>
                <%= link_to(services_path) do %>
                <div id="mnu2" class="link link--takiri3">
                  <div class="mnu-title">
                    <h2>SERVICES</h2>
                  </div>
                </div>
                <% end %>
              </li>
              <li>
                <%= link_to(contact_path) do %>
                <div id="mnu3" class="link link--takiri4">
                  <div class="mnu-title">
                    <h2>CONTACT</h2>
                  </div>
                </div>
                <% end %>
              </li>
            </ul>
              <canvas id="canv"></canvas>
          </section>
        </div>
      </div>
</div>