<div id="main" class="m-scene">
      <div class="header">
        <section class="nav">
          <a href="#cd-nav" class="cd-nav-trigger">Menu
            <span class="cd-nav-icon"></span>

            <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
              <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
            </svg>
          </a>

          <div id="cd-nav" class="cd-nav">
            <div class="cd-navigation-wrapper">
              <div class="cd-half-block">

                <nav class="cl-effect-13">
                  <ul class="cd-primary-nav">
                    <li><img src="<%= asset_path 'logo_only_bk.svg' %>"></li>
                    <li><%= link_to "WORKS",   projects_path %></li>
                    <li><%= link_to "ABOUT",   about_path %></li>
                    <li><%= link_to "SERVICES",   services_path %></li>
                    <li><%= link_to "CONTACT",   contact_path %></li>
                  </ul>
                </nav>
              </div><!-- .cd-half-block -->
              
            </div> <!-- .cd-navigation-wrapper -->
          </div>
        </section>
      </div>

      <div id="fullpage-profile">
        <div class ="section" id="section1">
          <section id="about" class="cover">
            <div class="desc">
              <h1 class="gotham cl-effect-2">
                <%= link_to(root_path) do%>
                  <span data-hover="Back">ABOUT US</span>
                  <% end %>
              </h1>
              <div class="strip">
              -
              </div>
              <p>Rakarsa is a short form of "Rodha Among Karsa", taken from sanskrit language which means "a circle that keep and nurture an idea and a passion to create".</p>
              <p>As human being, we have dreams that we want to pursue. We want to actualize ourselves create something and nurture them until become the great things that thrive others or just gives us a smile for awhile.</p>
              <a href="#secondPage"><img src="<%= asset_path 'cd-icon-arrow-desktop.svg' %>" style="display:block; margin:0 auto"></a>
            </div>
          </section>
        </div>

        <div class="section" id="section2">
          <section id="profile">
            <div class="prof">
              <h1>Behind The Scene</h1>
              <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                <li><img src="<%= asset_path 'avatar.jpg' %>">
                <h2>Ghiyaats Muhammad</h2>
                <h3>Creative Director</h3>
                -
                <p>cool // noob stark // photographer </p>
                </li>
                <li><img src="<%= asset_path 'avatar.jpg' %>">
                <h2>Reza Jatnika</h2>
                <h3>Project Manager</h3>
                -
                <p>geek // hehe wepe // master</p>
                </li>
                <li><img src="<%= asset_path 'avatar.jpg' %>">
                <h2>Dewi Kartika Syarif</h2>
                <h3>Content Writer</h3>
                -
                <p> // // </p>
                </li>
                <li><img src="<%= asset_path 'avatar.jpg' %>">
                <h2>Aan Yohanis</h2>
                <h3>Account Manager</h3>
                -
                <p> // // </p>
                </li>
                <li><img src="<%= asset_path 'avatar.jpg' %>">
                <h2>Kahirul</h2>
                <h3>Senior Developer</h3>
                -
                <p>geek // // traveler</p>
                </li>
                <li><img src="<%= asset_path 'avatar.jpg' %>">
                <h2>Azmy ansori</h2>
                <h3>Senior Developer</h3>
                -
                <p>all rounder // bedul koflok // patient</p>
                </li>
                <li><img src="<%= asset_path 'avatar.jpg' %>">
                <h2>M Ali Murtopo</h2>
                <h3>Junior Developer</h3>
                -
                <p> // tymee // </p>
                </li>
                <li><img src="<%= asset_path 'avatar.jpg' %>">
                <h2>Pradipto</h2>
                <h3>Junior Developer</h3>
                -
                <p> // // </p>
                </li>
                <li><img src="<%= asset_path 'avatar.jpg' %>">
                <h2>Tri Adi Wirawan</h2>
                <h3>Senior Developer</h3>
                -
                <p> // rie // </p>
                </li>
                <li><img src="<%= asset_path 'avatar.jpg' %>">
                <h2>Hamzah</h2>
                <h3>Junior Developer</h3>
                -
                <p>all rounder // insomnia // geek</p>
                </li>
                <li><img src="<%= asset_path 'avatar.jpg' %>">
                <h2>Tri Puspita Pratiwi</h2>
                <h3>Financial Manager</h3>
                -
                <p> // // </p>
                </li>
                <li><img src="<%= asset_path 'avatar.jpg' %>">
                <h2>Anggia Riksa R</h2>
                <h3>Junior Developer</h3>
                -
                <p> // dep // </p>
                </li>
                <li><img src="<%= asset_path 'avatar.jpg' %>">
                <h2>Morian Saspriatnadi</h2>
                <h3>Creative Designer</h3>
                -
                <p>architect // master // photographer</p>
                </li>
                <li><img src="<%= asset_path 'avatar.jpg' %>">
                <h2>Candra Wana</h2>
                <h3>Strategist</h3>
                -
                <p> // cdr // </p>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>