<div id="main" class="m-scene">
      <div class="header">
        <section class="nav">
          <a href="#cd-nav" class="cd-nav-trigger">Menu
            <span class="cd-nav-icon"></span>

            <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
              <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
            </svg>
          </a>

          <div id="cd-nav" class="cd-nav">
            <div class="cd-navigation-wrapper">
              <div class="cd-half-block">

                <nav class="cl-effect-13">
                  <ul class="cd-primary-nav">
                    <li><img src="<%= asset_path 'logo_only_bk.svg' %>"></li>
                    <li><%= link_to "WORKS",   projects_path %></li>
                    <li><%= link_to "ABOUT",   about_path %></li>
                    <li><%= link_to "SERVICES",   services_path %></li>
                    <li><%= link_to "CONTACT",   contact_path %></li>
                  </ul>
                </nav>
              </div><!-- .cd-half-block -->
              
            </div> <!-- .cd-navigation-wrapper -->
          </div>
        </section>
      </div>

      <div id="fullpage-services">
        <div class="section" id="section1">
          <section id="services" class="cover">
            <div class="desc">
              <h1 class="gotham cl-effect-2">
                <%= link_to(root_path) do%>
                  <span data-hover="Back">SERVICES</span>
                <% end %>
              </h1>
              <div class="strip">
              -
              </div>
              <p>We focus on web design & development. People, community, or companies with great value deserves good publicity and exposure. We will give our best kind of support and appreciation in anyway we can to those who.</p>
              <a href="#secondPage"><img src="<%= asset_path 'cd-icon-arrow-desktop.svg' %>" style="display:block; margin:0 auto"></a>
            </div>
          </section>
        </div>

        <div class="section" id="section2">
          <section id="service">
            <div class="serv">
              <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
                <li><img src="<%= asset_path 'services.png' %>">
                <h2>Strategy</h2>
                <p>Research
                  <br>
                  Concept Development
                  <br>
                  Project Planning
                  <br>
                  User Experience
                </p>
                </li>
                <li><img src="<%= asset_path 'services.png' %>">
                <h2>Creative</h2>
                <p>
                  Content Strategy
                  <br>
                  User Interface Design
                  <br>
                  Web Design
                  <br>
                  Branding
                  <br>
                  Logo
                </p>
                </li>
                <li><img src="<%= asset_path 'services.png' %>">
                <h2>Technology</h2>
                <p>
                  Frontend
                  <br>
                  Backend
                  <br>
                  Prototyping
                  <br>
                  Cross-platform
                  <br>
                  Web-App
                </p>
                </li>
              </ul>
            </div>
          </section>
        </div>

        <div class="section" id="section3">
          <section id="service" class="cover">
            <div class="desc">
              <h1 class="gotham">Process</h1>
              <p>We believe, the proper environment and the appropriate process, we can bring out the best of our works. Our plan are designed with definite objectives so we can help you giving the best experiences, designs, and solutions with ideas & values within.</p>
            </div>
          </section>
        </div>

        <div class="section" id="section4">
          <section id="service">
            <div class="row serv data-equalizer">
              <div class="small-6 large-4 column data-equalizer-watch upper">
                <img src="<%= asset_path 'process.png' %>">
                <h2>Discover</h2>
                <p>We aim to give our client best possible solution and design. We would seek several alternatives that could possibly implemented. We always seek a comprehensive information by finding precedents & inspirations. And yes our client is our inspiration.</p>
              </div>
              <div class="small-6 large-4 column data-equalizer-watch upper">
                <img src="<%= asset_path 'process.png' %>">
                <h2>Define</h2>
                <p>We invest significant time and efforts in developing and implementating a knowledge base which is technology and arts that offers uniques perspectives and insights. We would formulate the ideas and concepts into wireframe. You could validate the offered concepts, features, and wireframe.</p>
              </div>
              <div class="small-6 large-4 column data-equalizer-watch upper">
                <img src="<%= asset_path 'process.png' %>">
                <h2>Design</h2>
                <p>We have great team in this part.We bring art and technology into one unity body. Collaboration between designer, developer, and client are the key factor of design phase. By putting on the detail, we give the design its personality and character into some mockup. We develop the choosen mockup into the real design, deliver the final polished design into graphics detail</p>
              </div>
            </div>
            <div class="row serv data-equalizer">
              <div></div>
              <div class="small-6 large-centered column data-equalizer-watch lower">
                <img src="<%= asset_path 'process.png' %>">
                <h2>Develop</h2>
                <p>We spend countless hours in order to transform the beauty of graphics into a poem of code. Mix a good cup of coffee, upbeat music, and some snacks to our table. We would never let the piece of our works delivered without passing some criteria and quality. We'll deliver a satisfyng results.</p>
              </div>
              <div class="small-6 large-centered column data-equalizer-watch lower">
                  <img src="<%= asset_path 'process.png' %>">
                <h2>Deliver</h2>
                <p>Finally our work hard work is almost done. We hope that our product could help our partner meet their goals. We believe that every beginning has an end, but not this one. We hope that we could work together on another opportunity</p>
              </div>
              <div></div>
            </div>
          </section>
        </div>
      </div>
</div>