<div id="main" class="m-scene">
      <div class="header">
        <section class="nav">
          <a href="#cd-nav" class="cd-nav-trigger">Menu
            <span class="cd-nav-icon"></span>

            <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
              <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
            </svg>
          </a>

          <div id="cd-nav" class="cd-nav">
            <div class="cd-navigation-wrapper">
              <div class="cd-half-block">

                <nav class="cl-effect-13">
                  <ul class="cd-primary-nav">
                    <li><img src="<%= asset_path 'logo_only_bk.svg' %>"></li>
                    <li><%= link_to "WORKS",   projects_path %></li>
                    <li><%= link_to "ABOUT",   about_path %></li>
                    <li><%= link_to "SERVICES",   services_path %></li>
                    <li><%= link_to "CONTACT",   contact_path %></li>
                  </ul>
                </nav>
              </div><!-- .cd-half-block -->
    
            </div> <!-- .cd-navigation-wrapper -->
          </div>
        </section>
      </div>
      
      <div id="fullpage-works">
        <div class="section" id="section1">
          <section id="works" class="cover">
            <div class="desc">
              <h1 class="gotham cl-effect-2">
                <%= link_to(root_path) do%>
                  <span data-hover="Back">WORKS</span>
                <% end %>
              </h1>
              <div class="strip">
              -
              </div>
              <p>What is done and undone will be a story and that is why we decide to tell our story. We hope our story will fascinate others and draw them close. Well, if not today then someday will.</p>
              <a href="#secondPage"><img src="<%= asset_path 'cd-icon-arrow-desktop.svg' %>" style="display:block; margin:0 auto"></a>
            </div>
          </section>
        </div>
        
        <div class="section" id="section2">
          <section id="work">
            <ul id="masonry-container" class="port large-block-grid-2">
              <% @projects.each do |project|%>
              <li class='box'>
                <%= link_to (project_path(project)) do %>
                  <%= image_tag(project.images.find_by(category: 'thumbnail').name.url)%>
                
                <div class="overlay"><br />
                  
                  <span><%= project.project_title %></span> <br />
                  <span class ="kecil"><%= project.client_name %></span>
                </div>
              </li>
                <% end %>
              <% end %>
            </ul>
          </section>
        </div>  
      </div>
    
    <script>
      $(window).load(function(){
        $('#masonry-container').masonry({
          itemSelector: '.box',
          gutterWidth: 40
        });
      });
    </script>
    
