<div id="main" class="container">
      <div class="header">
        <section class="nav">
          <a href="#cd-nav" class="cd-nav-trigger">Menu
            <span class="cd-nav-icon"></span>

            <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
              <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
            </svg>
          </a>

          <div id="cd-nav" class="cd-nav">
            <div class="cd-navigation-wrapper">
              <div class="cd-half-block">

                <nav class="cl-effect-13">
                  <ul class="cd-primary-nav">
                    <li><img src="<%= asset_path 'logo_only_bk.svg' %>"></li>
                    <li><%= link_to "WORKS",   projects_path %></li>
                    <li><%= link_to "ABOUT",   about_path %></li>
                    <li><%= link_to "SERVICES",   services_path %></li>
                    <li><%= link_to "CONTACT",   contact_path %></li>
                  </ul>
                </nav>
              </div><!-- .cd-half-block -->
              
            </div> <!-- .cd-navigation-wrapper -->
          </div>
        </section>
      </div>
    </div>

    <section id="img">
    <%- @header_images.each do |header| %>

        <%=  image_tag(header.name.url)%>
    
    <% end %>
    </section>

    <section id="detail">
      <div class="row" style="max-width: 74vw">
        <div id="pro1" class="large-9 column">
          <h1><%=@project.client_name %></h1>
          <h2><%=@project.project_title %></h2>
          <hr>
          <p><%= @project.description %></p>
        </div>

        <div id="pro1" class="type large-3 column">
          <h2>TYPE</h2>
          <hr>
          <p><%= @project.type.name %></p>
          <h2>Year</h2>
          <hr>
          <p><%= @project.year.release_year %></p>
        </div>
      </div>
   
     <div id="pro1" class="row" style="max-width: 74vw">
       <div class="large-9 column">
         <h2>Services</h2>
         <hr>
         <ul class="servi">
           <%- @project_service.each do |service| %>
           <li><%= service.name %></li>
           <% end %>
         </ul>
       </div>
     </div>
   </section>
       
    <br>
    
   <section id="preview">
     <%- @web_images.each do |web| %>
     <div class="row" style="max-width: 74vw">
       <div class="large-12 column">
         <%=  image_tag(web.name.url)%>
       </div>
     </div>
     <% end %>
     
     
     <div class="row" style="max-width: 74vw">
       <%- @tab_images.each do |tab| %>
       <div class="large-6 column">
         <%= image_tag(tab.name.url)%>
       </div>
       <% end %>
     </div>
     
     <div class="row" style="max-width: 74vw">
       <%- @phone_images.each do |phone| %>
       <div class="large-4 column">
         <%= image_tag(phone.name.url) %>
       </div>
       <% end %>
     </div>
   </section> 

