@font-face{
  font-family:'Gotham';
  src: url('<%= asset_path("Gotham-Book.otf")%>');
}
@font-face{
  font-family: 'Futura LT light';
  src: url('<%= asset_path("futura-lt-light.ttf")%>');
  font-weight: lighter;
}
@font-face{
  font-family: 'Futura LT bold';
  src: url('<%= asset_path("futura-lt-bold.ttf")%>');
  font-weight: bold;
}
@font-face{
  font-family: 'AdobeCaslonPro';
  src: url('<%= asset_path("Adobe-Caslon-Pro.ttf")%>');
}